:root {
	font-family: sans-serif;
	transition: opacity 1s ease-in;
	--border-color: #FFFFFF1A;
	--bg-color: #000C;

	&:has(.captcha:not([hidden])) {
		pointer-events: none;
	}
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #background {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: #000;
}

.loading-overlay {
	position: fixed;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: black;
	opacity: 1;
	z-index: 999;
	transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;

	&.hidden {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}

	& > img {
		max-width: 100%;
		height: auto;
	}

	& > .corner {
		position: absolute;
		right: 0;
		bottom: 0;
		display: flex;
		gap: 2rem;
		padding: 2rem;

		& > p {
			color: white;
			font-size: 2rem;
			margin: 0;
		}

		& > .loader {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			border: 8px solid;
			border-color: white #0000;
			animation: l1 1s infinite;
		}
	}
}

#toast {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;

	&:not(:empty) {
		padding: 0.5rem;
	}

	& > button {
		display: flex;
		align-items: center;
		gap: 1rem;
		background: var(--bg-color);
		border: 2px solid var(--border-color);
		color: white;
		cursor: pointer;
		border-radius: 0.5rem;
		width: max-content;
		padding: 1rem;
		transform: translateY(0);
		transition: transform 0.2s ease-out;

		& > img {
			width: 48px;
			height: 48px;
			flex-shrink: 0;
			object-fit: contain;
		}

		& > hgroup {
			text-align: left;
			margin-left: auto;
			margin-right: auto;

			& > h1 {
				margin: 0;
				color: yellow;
			}

			& > p {
				margin: 0;
			}
		}

		&.purple > hgroup > h1 {
			color: magenta;
		}
	}
}

main {
	display: flex;
	overflow-x: hidden;
	scroll-snap-type: x mandatory;
	box-sizing: border-box;
	position: absolute;
	inset: 0;

	& > * {
		flex: 0 0 calc(100vw - 20vmin);
		margin: 10vmin;
		height: calc(100vh - 20vmin);
		box-sizing: border-box;
		scroll-snap-align: center;
		scroll-snap-stop: always;
		border-radius: 2rem;
		background: var(--bg-color);
		border: 1px solid var(--border-color);
		padding: 2rem;
	}

	& ~ button {
		position: absolute;
		top: 0;
		bottom: 0;
		min-height: 10vmin;
		height: max-content;
		margin: auto 0;
		border-radius: 0.5rem;
		cursor: pointer;
		background: var(--bg-color);
		color: white;
		border: 1px solid var(--border-color);

		&.left {
			left: 0;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		&.right {
			right: 0;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}

	& ~ .toolbar {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: max-content;
		margin: 0 auto;
		border-radius: 0.5rem;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		padding: 0.4rem 1rem;
		text-align: center;
		background: var(--bg-color);
		color: white;
		border: 1px solid var(--border-color);
		display: flex;
		justify-content: space-around;
		gap: 3rem;

		& > span {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 0.5rem;

			& > img {
				height: 1lh;
			}
		}
	}
}

.calculator {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	& > .screen {
		background: white;
		margin: 0;
		padding: 1rem;
		min-height: 3lh;
		font-size: 1.2rem;
		border-radius: 0.5rem;
		display: flex;
		align-items: center;
		overflow-x: auto;

		& .cursor {
			animation: blink 1s step-end infinite;
		}
	}

	& > .buttons {
		flex: 1;
		display: grid;
		gap: 1rem;
		grid-auto-rows: 1fr;
		min-height: 0;

		& > button {
			width: 100%;
			height: 100%;
			background: #A2BBCF;
			border: 5px solid #333;
			border-radius: 0.5rem;
			cursor: pointer;
			font-size: 50px;
			transition: transform 0.2s ease-in-out;

			&:hover {
				background: #D1E3F0;
			}
		}
	}
}

.shop {
	display: flex;
	padding: 0;
	overflow: hidden;
	color: white;

	& > aside {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		background: #505050;
		padding: 2rem;

		& > h1 {
			font-size: 1.2rem;
		}

		& > label {
			cursor: pointer;
			position: relative;
			border-left: 0.5rem solid transparent;
			padding-left: 0.5rem;

			&:has(input:checked) {
				border-color: white;
			}

			& > input {
				display: none;
			}
		}
	}

	& > div {
		display: none;
		flex: 1;
		padding: 2rem;

		& > div {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
			grid-auto-rows: minmax(auto, 60px) minmax(auto, 60px) minmax(auto, 50px);
			gap: 1rem;

			& > div {
				display: grid;
				grid-template-rows: subgrid;
				padding: 0.5rem;
				gap: 1rem;
				grid-row: span 3;

				border: 2px solid var(--border-color);
				border-radius: 0.5rem;
				text-align: center;
				transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

				&:hover {
					transform: translateY(5px);
				}

				&.red {
					--button-bg: indianred;
				}

				& > h2 {
					margin: 0;
					font-size: 1rem;
					font-weight: inherit;
				}

				& > p {
					margin: 0;
				}

				& > button {
					background: var(--button-bg, palegreen);
					color: black;
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 0.5rem;
					border: 1px solid var(--border-color);
					border-radius: 0.5rem;
					padding: 0.5rem;
					cursor: pointer;

					& > img {
						height: 1lh;
					}
				}
			}
		}
	}

	&:has(aside > label:nth-of-type(1) input:checked) > div:nth-of-type(1) { display: block; }
	&:has(aside > label:nth-of-type(2) input:checked) > div:nth-of-type(2) { display: block; }
	&:has(aside > label:nth-of-type(3) input:checked) > div:nth-of-type(3) { display: block; }
	&:has(aside > label:nth-of-type(4) input:checked) > div:nth-of-type(4) { display: block; }
}

.challenges {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr max-content;
	gap: 2rem;
	color: white;

	& > div {
		border-radius: 0.5rem;
		border: 1px solid var(--border-color);
		padding: 1rem;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		& > h1 {
			margin: 0;
			font-size: 1.3rem;
			text-align: center;
			padding-bottom: 0.5rem;
			border-bottom: 1px solid var(--border-color);
		}

		& > label {
			display: block;
			font-size: 1.1rem;
		}

		& > progress {
			appearance: none;
			height: 1.5rem;
			width: 100%;
			border-radius: 0.5rem;
			border: none;

			&::-webkit-progress-bar {
				background-color: #eee;
				border-radius: 4px;
			}

			&::-webkit-progress-value {
				background-color: #007bff;
				border-radius: 4px;
			}

			&::-moz-progress-bar {
				background-color: #007bff;
				border-radius: 4px;
			}
		}

		& > div {
			padding: 1rem;

			& > h2 {
				font-size: 1.2rem;
				margin: 0;
			}

			& > ul {
				margin: 0;
			}
		}
	}

	& > footer {
		grid-column: span 3;
		justify-self: center;
		min-width: calc((100% - 4rem) / 3);
		padding: 2rem;
		border: 1px solid var(--border-color);
		border-radius: 0.5rem;

		& > h1 {
			font-size: 1.2rem;
			margin: 0;
		}
	}
}

.lucky-wheel {
	anchor-scope: --wheel;
	display: flex;
	color: white;

	& > div {
		flex: 1;
		min-width: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;

		& > .pointer {
			position: absolute;
			right: anchor(right);
			top: anchor(top);
			bottom: anchor(bottom);
			left: anchor(right);
			position-anchor: --wheel;

			&::after {
				content: "";
				position: absolute;
				top: 50%;
				background: #A5A5A5;
				width: 2rem;
				height: 2rem;
				transform: translate(50%, -50%) rotate(45deg);
				left: -1rem;
				border-radius: 4px;
				clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
				z-index: 1;
				border: black solid 1px;
			}
		}

		& > .wheel {
			anchor-name: --wheel;
			height: 100%;
			width: auto;
			aspect-ratio: 1 / 1;
			border-radius: 50%;
			overflow: hidden;
			transition: transform 4s cubic-bezier(0.1, 0.8, 0.25, 1);
		}

		& > div {
			display: flex;
			gap: 0.5rem;
			align-items: center;
			justify-content: center;
			padding: 1rem;

			& > button {
				padding: 1rem;
				cursor: pointer;
				border: none;
				border-radius: 0.5rem;
				color: black;

				&:first-child {
					background: palegreen;
				}

				&:last-child {
					background: palegoldenrod;
				}

				&.red {
					background: indianred;
					cursor: unset;
					pointer-events: none;
					opacity: 0.8;
				}

				&:disabled {
					cursor: unset;
					opacity: 0.8;
				}
			}
		}
	}

	& > ol {
		flex: 1;
		min-width: 0;
		border: 2px solid var(--border-color);
		border-radius: 0.5rem;
		overflow-y: auto;
		list-style-type: none;
		margin: 0;
		padding: 1rem;
	}

	& > .lootbox {
		position: fixed;
		inset: 0;
		z-index: 999;
		background: #000000BF;
		backdrop-filter: blur(10px);

		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.3s ease;

		&.active {
			opacity: 1;
			pointer-events: auto;
		}

		& > img {
			width: 150px;
			height: auto;
			cursor: pointer;
			transition: transform 0.2s ease;
			will-change: transform;

			&:hover {
				transform: scale(1.05);
			}

			&.shake {
				animation: violent-shake 0.8s cubic-bezier(.36,.07,.19,.97) both;
			}

			&.shatter {
				animation: box-shatter 0.15s ease-in forwards;
			}
		}

		& > .reward-card {
			position: absolute;
			width: 200px;
			height: 280px;
			background: var(--bg-color);
			border-radius: 1rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			padding: 1.5rem;
			opacity: 0;
			border: var(--tier-color) solid 3px;
			transform: scale(0.2) rotate(-20deg);
			pointer-events: none;
			will-change: transform, opacity;

			&.reveal {
				animation: card-snap 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
				pointer-events: auto;
			}

			& > .rarity {
				font-size: 1.2rem;
				letter-spacing: 2px;
				padding: 0.25rem 0.75rem;
				border-radius: 1rem;
			}

			& > img {
				height: 4rem;
			}

			& > .name {
				font-size: 1.2rem;
				font-weight: bold;
				text-align: center;
			}
		}
	}
}

.tech-tree {
	background-color: #0041BA;
	background-image:
		linear-gradient(90deg, rgba(255, 255, 255, 0.4) 1.5px, transparent 1.5px),
		linear-gradient(rgba(255, 255, 255, 0.4) 1.5px, transparent 1.5px),
		linear-gradient(90deg, rgba(255, 255, 255, 0.15) 1px, transparent 1px),
		linear-gradient(rgba(255, 255, 255, 0.15) 1px, transparent 1px);
	background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
	border-radius: 1rem;
	border: 1px solid var(--border);
	display: flex;
	align-items: center;
	justify-content: center;
	overflow-x: auto;

	& > .nodes {
		display: grid;
		z-index: 2;
		grid-template: 1fr / repeat(var(--c), 48px);
		gap: 3rem;
		height: 100%;
		width: max-content;
		max-width: 100%;
		margin-inline: auto;

		& > div {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 5rem;
			grid-column: var(--y);

			& > div {
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				height: 48px;
				width: 48px;

				&.unownable {
					opacity: 0.7;
				}

				&.owned {
					box-shadow: 0 0 10px 3px palegreen;
					border-radius: 50%;
				}

				& > img {
					height: 48px;
					width: 48px;
					aspect-ratio: 1 / 1;
					object-fit: cover;
					border-radius: 50%;
					overflow: hidden;
					background: white;
				}

				& > span {
					position: absolute;
					bottom: 0;
					right: 0;
					height: 1lh;
					aspect-ratio: 1 / 1;

					display: flex;
					align-items: center;
					justify-content: center;
					background: white;
					border-radius: 50%;
				}

				&[hidden] {
					opacity: 0;
					pointer-events: none;
				}
			}
		}
	}

	& > .connections > span {
		position: absolute;
		pointer-events: none;
		z-index: 1;

		left: anchor(var(--from) right);
		right: anchor(var(--to) left);

		background-size: 100% 100%;
		background-repeat: no-repeat;

		&.down {
			top: anchor(var(--from) center);
			bottom: anchor(var(--to) center);
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpath d='M 0 0 C 50 0, 50 100, 100 100' stroke='%23fffc' stroke-width='3' stroke-dasharray='10,10' fill='none' vector-effect='non-scaling-stroke'/%3E%3C/svg%3E");
		}

		&.up {
			top: anchor(var(--to) center);
			bottom: anchor(var(--from) center);
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpath d='M 0 100 C 50 100, 50 0, 100 0' stroke='%23fffc' stroke-width='3' stroke-dasharray='10,10' fill='none' vector-effect='non-scaling-stroke'/%3E%3C/svg%3E");
		}

		&.down.owned {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpath d='M 0 0 C 50 0, 50 100, 100 100' stroke='%23fffc' stroke-width='3' fill='none' vector-effect='non-scaling-stroke'/%3E%3C/svg%3E");
		}

		&.up.owned {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpath d='M 0 100 C 50 100, 50 0, 100 0' stroke='%23fffc' stroke-width='3' fill='none' vector-effect='non-scaling-stroke'/%3E%3C/svg%3E");
		}

		&.straight {
			top: anchor(var(--to) center);
			height: 3px;
			background-image: linear-gradient(to right, #fffc 50%, transparent 50%);
			background-size: 20px 100%;
			background-repeat: repeat-x;
			transform: translateY(-50%);

			&.owned {
				background: #fffc;
			}
		}
	}

	& > .tooltip {
		position: fixed;
		position-anchor: var(--node);
		left: anchor(right);
		top: anchor(center);
		z-index: 2;

		transform: translateY(-50%);
		background: var(--bg-color);
		margin-left: 0.5rem;
		color: white;
		padding: 1rem;
		border-radius: 1rem;

		& > header {
			display: flex;
			gap: 1rem;
			align-items: center;
			border-bottom: 3px solid var(--border-color);

			& > img {
				height: 48px;
				width: 48px;
				flex-shrink: 0;
				object-fit: cover;
				border-radius: 50%;
				background: white;
				overflow: hidden;
			}

			& > hgroup > h1 {
				margin: 0;
				font-size: 1.2rem;
				width: 12rem;
			}

			& > hgroup > p {
				font-size: 0.8rem;
				margin-top: 4px;
			}
		}

		& > button {
			width: 100%;
			border-radius: 0.5rem;
			border: none;
			padding: 0.5rem;
			cursor: pointer;
			background: palegreen;
			color: black;

			&:disabled, &.locked, &.unlocked {
				cursor: unset;
				opacity: 0.8;
			}

			&.locked {
				background: indianred;
			}

			&.unlocked {
				background: lightgrey;
			}
		}
	}
}

.achievements {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	color: white;

	& > h1 {
		margin: 0;
		font-weight: normal;
		font-size: 2rem;
	}

	& > div {
		flex: 1;
		display: grid;
		grid-template-columns: repeat(auto-fit, 4rem);

		& > div {
			height: 4rem;
			padding: 0.5rem;
			anchor-name: --achievement;
			anchor-scope: --achievement;

			& > img {
				width: 48px;
				height: 48px;
				object-fit: contain;

				&[src*=locked] {
					opacity: 0.75;
				}
			}

			&:hover {
				opacity: 1;

				& > div {
					display: flex;
				}
			}

			& > div {
				display: none;
				position: absolute;
				position-anchor: --achievement;
				bottom: anchor(top);
				background: var(--bg-color);
				border: palegoldenrod solid 3px;
				border-radius: 0.5rem;
				color: white;
				padding: 0.5rem;
				gap: 1rem;
				align-items: center;

				& > img {
					width: 48px;
					height: 48px;
					flex-shrink: 0;
					object-fit: contain;
				}

				& > hgroup {
					text-align: left;
					margin-left: auto;
					margin-right: auto;

					& > h1 {
						margin: 0;
						font-size: 1.2rem;
						color: yellow;
					}

					& > p {
						margin: 0;
					}
				}
			}

			&.purple > div > hgroup > h1 {
				color: magenta;
			}
		}
	}

	& > dl {
		flex: 1;
	}
}

.prestige {
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;

	& > .disclaimer {
		flex: 1;
		border: 1px solid var(--border-color);
		border-radius: 1rem;
		padding: 1rem;
	}

	& > label > input {
		accent-color: white;
		margin-right: 0.5rem;
	}

	& > .button {
		height: 0;
		width: 16rem;
		overflow: hidden;
		transition: height 0.3s ease-out;
		text-align: center;

		& > button {
			border-radius: 50%;
			text-transform: uppercase;
			background: #C70000;
			color: white;
			cursor: pointer;
			font-size: 2rem;
			font-weight: bold;
			border: none;
			padding: 0;
			width: 100%;
			height: 100%;

			&:hover {
				background: indianred;
			}
		}
	}

	& > label:has(input:checked) + div {
		height: 16rem;
	}
}

dl {
	display: grid;
	grid-template-columns: max-content 1fr;
	margin: 0.5rem 0;
	column-gap: 0.25rem;

	& > dt,
	& > dd {
		margin: 0;
	}

	& > dd {
		justify-self: end;
		text-align: right;

		& > span {
			text-wrap: nowrap;
		}
	}
}

.clippy {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 99999;

	& > div {
		background: #ffc;
		border-radius: 0.5rem;
		padding: 0.5rem;
		border: black solid 2px;
		margin-bottom: 1rem;
		position: absolute;
		bottom: 100%;
		right: 0;
		width: max-content;
		max-width: 250px;

		& > button {
			display: block;
			border-radius: 0;
			background: transparent;
			margin: 0 auto;
			margin-top: 10px;
		}

		&::after {
			content: "";
			position: absolute;
			bottom: -10px;
			right: 20px;
			width: 15px;
			height: 10px;
			background: #ffc;
			clip-path: polygon(0 0, 100% 0, 50% 100%);
		}
	}

	& > img {
		width: 100px;
		height: 100px;
		object-fit: contain;
	}
}

.welcome {
	outline: none;
	border-radius: 1rem;

	&::backdrop {
		background: var(--bg-color);
	}

	& > button {
		width: 100%;
		padding: 1rem;
		border: none;
		border-radius: 0.5rem;
		outline: none;
		cursor: pointer;
	}
}

.captcha {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: white;
	padding: 1rem;
	pointer-events: all;

	& > div {
		border: solid black 1px;
		width: max-content;
		border-radius: 0.5rem;
		padding: 1rem;
		display: flex;
		justify-content: space-around;
		margin: 0 auto;
		gap: 0.5rem;
		align-items: center;

		& > input {
			appearance: none;
			border: solid 3px grey;
			border-radius: 0.25rem;
			width: 1.5rem;
			height: 1.5rem;

			&:checked {
				display: none;

				& + .loader {
					display: block;
				}
			}
		}

		& > .loader {
			display: none;
			width: 1.8rem;
			height: 1.8rem;
			border-radius: 50%;
			background:
				radial-gradient(farthest-side, dodgerblue 94%, #0000) top/8px 8px no-repeat,
				conic-gradient(#0000 30%, dodgerblue);
			mask: radial-gradient(farthest-side, #0000 calc(100% - 8px),#000 0);
			animation: l13 1s infinite linear;
		}
	}
}

@keyframes l1 {to{transform: rotate(.5turn)}}
@keyframes l13{100%{transform: rotate(1turn)}}
@keyframes blink { 50% { opacity: 0; } }
@keyframes violent-shake {
	10%, 90% { transform: translate3d(-3px, 0, 0) rotate(-2deg); }
	30%, 70% { transform: translate3d(-6px, 3px, 0) rotate(-4deg); scale: 1.1; }
	50% { transform: translate3d(6px, -3px, 0) rotate(5deg); scale: 1.2; }
	100% { transform: scale(1.25); }
}
@keyframes box-shatter {
	to { transform: scale(0); opacity: 0; }
}
@keyframes card-snap {
	to { opacity: 1; transform: scale(1) rotate(0deg); }
}
